{% extends 'base.html' %} {% block content %}
{% load static %}


<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Post title goes in these h1 tags -->
                <h1 class="post-title">{{ destination.name }}</h1>
                <!-- Post author goes before the | the post's created date goes after -->
                <p class="post-subtitle">{{ destination.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <img src="{% static 'images/default.jpg' %}" class="scale" alt="placeholder">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                
                <!-- The post content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <p class="card-text">
                    {{ destination.description | safe }}
                </p>
            </div>
        </div>
    </div>
</div>
{% comment %} {% tips section %} {% endcomment %}
<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
        <h3>Tips</h3>
            {% for tip in destination.tips.all %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ tip.tip_type}}</h5>
                    <p class="card-text">{{tip.content}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col card mb-2 mt-2 left  top">
            <h3 class="mb-0">Comments</h3>
            {% for comment in destination.comments.all %}  
            <div class="card mb-2">
                <div class="card-body">
                    <div class="p-2 comments {% if not comment.approved and comment.user == user %}
                        faded{% elif not comment.approved %} d-none{% endif %}">
                        <p class="card-text">{{ comment.text }}</p>
                        <p class="card-text text-muted">{{ comment.user }}, {{comment.created_on}}</p>
                    
                        {% if not comment.approved and comment.user == user %}
                        <p class="approval">This comment is awaiting approval</p>
                        {% endif %} 
                    </div> 
                </div>
            </div> 
            {% endfor %}
        </div>        
    </div>
</div>


{% endblock content %}