{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="destination-title">{{ destination.name }}</h1>
                <p class="destination-subtitle">{{ destination.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                {% if destination.featured_image and destination.featured_image.url %}
                    <img class="card-img-top rounded scale" src="{{ destination.featured_image.url }}" alt="{{ destination.name }}">
                {% else %}
                    <img class="card-img-top" src="{% static 'images/default.png' %}" alt="placeholder image">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4 mt-3 left top">
            <div class="card-body">
                <p class="card-text">{{ destination.description | safe }}</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Tips</h2>
            {% for tip in destination.tips.all %}
            <div class="card mb-3">
                <div class="card-body {% if not tip.approved and tip.user == user %}faded{% elif not tip.approved %}d-none{% endif %}">
                    <h3 id="tiptype{{ tip.id }}" class="card-title ">{{ tip.tip_type }}</h3>
                    <div id="tip{{ tip.id }}" class="card-text {% if not tip.approved and tip.user == user %}faded{% endif %}">{{ tip.content | linebreaks }}</div>
                    <p class="card-text {% if not tip.approved and tip.user == user %}faded{% endif %}">{{ tip.user }}</p>

                    {% if not tip.approved and tip.user == user %}
                    <p class="approval">This tip is awaiting approval</p>
                    {% endif %}
                    {% if user.is_authenticated and tip.user == user %}
                    <button class="btn btn-delete-tip" data-tip-id="{{ tip.id }}" data-destination-id="{{ destination.id }}">Delete</button>
                    <button class="btn btn-edit-tip" data-tip-id="{{ tip.id }}" data-destination-id="{{ destination.id }}">Edit</button>
                    {% endif %}
                </div>
            </div>
            {% empty %}
            <p class="text-muted">No tips yet</p>
            {% endfor %}
        </div>

        <div class="col-md-4">
            <div class="card mb-4 mt-3">
                <div class="card-body">
                    {% if user.is_authenticated %}
                    <h3>Add a tip</h3>
                    <p class="mb-2">Posting as: {{ user.username }}</p>
                    <form id="tipForm" method="post" style="margin-top: 1.3em;">
                        {% csrf_token %}
                        {{ tip_form | crispy }}
                        <button id="tipSubmitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
                    </form>
                    {% else %}
                    <p>Log in to share a tip</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12">
            <strong class="text-secondary">
                <i class="far fa-comments"></i> {{ comment_count }}
            </strong>
        </div>
        <div class="col-12">
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <h3 class="mb-0">Comments</h3>

            {% for comment in destination.comments.all %}
            <div class="card mb-2">
                <div class="card-body {% if not comment.approved and comment.user == user %}faded{% elif not comment.approved %}d-none{% endif %}">
                    <div id="comment{{ comment.id }}" class="card-id">{{ comment.text | linebreaks }}</div>
                    <p class="card-text {% if not comment.approved and comment.user == user %}faded{% endif %}">{{ comment.user }}, {{ comment.created_on }}</p>

                    {% if not comment.approved and comment.user == user %}
                    <p class="approval">This comment is awaiting approval</p>
                    {% endif %}
                    {% if user.is_authenticated and comment.user == user %}
                    <button class="btn btn-delete" data-comment-id="{{ comment.id }}" data-destination-id="{{ destination.id }}">Delete</button>
                    <button class="btn btn-edit" data-comment-id="{{ comment.id }}">Edit</button>
                    {% endif %}
                </div>
            </div>
            {% empty %}
            <p class="text-muted">No comments yet</p>
            {% endfor %}
        </div>

        <div class="col-md-4">
            <div class="card mb-4 mt-3">
                <div class="card-body">
                    {% if user.is_authenticated %}
                    <h4>Leave a comment</h4>
                    <p class="mb-2">Posting as: {{ user.username }}</p>
                    <form id="commentForm" method="post" style="margin-top: 1.3em;">
                        {% csrf_token %}
                        {{ comment_form | crispy }}
                        <button id="commentSubmitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
                    </form>
                    {% else %}
                    <p>Log in to leave a comment</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete comment or tip?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete your comment or tip?
                This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
<script src="{% static 'js/tips.js' %}"></script>
{% endblock %}