{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="container-fluid">
  <h1>RoamReady Destinations</h1>
    <div class="row">

        <div class="col-12 mt-3 left">
            <div class="row">

                {% for destination in destinations %}
                <div class="col-md-4">
                    <div class="card mb-4 position-relative">
                        {% if destination.featured_image and destination.featured_image.url %}
                            <img class="card-img-top rounded" src="{{ destination.featured_image.url }}" alt="{{ destination.name }}">
                        {% else %}
                            <img class="card-img-top" src="{% static 'images/default.jpg' %}" alt="placeholder image">
                        {% endif %}
                        <div class="card-body">
                            <h2 class="card-title">
                                <a href="{% url 'destination_detail' destination.id %}" class="text-decoration-none text-dark stretched-link">
                                    {{ destination.name }}
                                </a>
                            </h2>
                            <p class="card-text">{{ destination.description|truncatewords:25 }}</p>
                            <p class="card-text text-muted">{{ destination.country }}</p>
                            <p class="created_on">{{ destination.created_on }}</p>
                        </div>
                    </div>
                </div>

                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}

                {% endfor %}
                

            </div>
        </div>
    </div>

</div>
  {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREVIOUS </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}

